@import "variables";

@mixin background-blue ($start-color, $end-color){
	background: $background-blue-start; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($background-blue-start, $background-blue-end); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($background-blue-start, $background-blue-end); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($background-blue-start, $background-blue-end); /* For Firefox 3.6 to 15 */
    background: linear-gradient($background-blue-start, $background-blue-end); /* Standard syntax */
}

@mixin drop-shadow ($dropshadow-start-color){
	    box-shadow: 5px 10px 55px -20px $dropshadow-start-color;
}

@mixin hover-transition($transition-timing){
	transition: all linear $transition-timing;
	-webkit-transition: all linear $transition-timing;
	-moz-transition: all linear $transition-timing;
	-o-transition: all linear $transition-timing;
}