@import "variables";
@import "main";
@import "mixins";


///Variables used in the Daily UI Design landing page.


body{

	font-family: 'Open Sans Light 300', 'Helvetica', 'Arial'; 
	font-size: 16px;

	&.background-blue{
		@include background-blue(#7683F2, #7184BC);
	}

}

.daily-ui-container{
	width: 100%;

	h1{
		font-size: 40px;
		font-weight: 200;
		margin: 0px 0px 10px;
		text-align: $center
	}

	h4{
		text-align: $center;		

	}

	p{
		text-align: $center;		

		&:first-child{
			margin: 0px 0px 30px;
		}
	}

	&.background-white {
		background: $white;
   		color: $background-blue-start;
    	padding: 40px $zero;
    	@include drop-shadow($black);
	}	

	.form-space-left {
    	width: 11.716%;
    	background: none;
    	float: left;

    	@media screen and (max-width:700px){
			display: none;
		}
	}

	.field-email {
		text-align: $center;

		input{
			width: 390px;
   			height: 50px;
   			border-color: #7683F2;
   			border-style: solid;
  			font-size: 28px;
    		font-family: 'Open Sans Light 300', 'Helvetica', 'Arial';
    		margin-left: 20px;

    		@media screen and (max-width: 700px){
				width: 90%;
    			margin: 0px 0px 30px 0px;
    			height: 50px;
    		}
		}
	}

	.btn-send {
		background-color: $black;

		p {
			margin: 0px;
			padding: 19px 29px;		
		}

		@media screen and (max-width:700px){
			width: 100%;
		}
	}

	.field-email, .btn-send {
		float: left;
		display: inline;

		@media screen and (max-width:700px){
			width: 100%;
		}		
	}

	.how-it-works {
		width: 100%;
		float:left;
		display:block;
		padding: 40px 0px 0px;

		ul{
			li{
				padding-bottom: 10px;
			}
		}
	}

}