@import "variables";
@import "main";
@import "mixins";


///Variables used in the Daily UI Design landing page.


body{

	font-family: 'Open Sans Light 300', 'Helvetica', 'Arial'; 
	font-size: 16px;

	&.background-blue{
		@include background-blue(#7683F2, #7184BC);
	}

}

.daily-ui-container{

	h1{
		font-size: 40px;
		text-align: center;
		font-weight: 200;

		&:first-child{
			padding-top: 40px;
		}
	}

	p {
		text-align: $center;
	}

	.input-field {
		text-align: $center;

		input{
			width: 70%;
    		height: 50px;
    		border-color: $background-blue-start;
    		border-style: solid;
		}
	}

	&.background-white {
		background: $white;
   		color: $background-blue-start;
    	padding: 40px $zero;
	}
}