$black: #000;
$max-width: 700px;
$min-width: 320px;
$one-hundred-percentage: 100%;
$zero: 0;
$white: #fff;


//Color Variables

$error-color: red;
$green: green;
$black: black;
$background-blue-start: #7683F2;
$background-blue-end: #7184BC;
$facebook-blue: #3b5998;
$twitter-blue: #55acee;
$grey-hover: #c2c2c2;
$blue-hover: #5C68D0;

//Timing variables

$transition-timing: 0.1s;

