$black: #000;
$max-width: 700px;
$min-width: 320px;
$one-hundred-percentage: 100%;
$zero: 0;
$white: #fff;


//Color Variables

$red: red;
$green: green;
$black: black;
$background-blue-start: #7683F2;
$background-blue-end: #7184BC;

//Alignment Variables 

$center: center;

